[submodule "startup"]
	path = startup
	url = https://github.com/BruteForceSIH/startup.git
[submodule "SecurityService"]
	path = SecurityService
	url = https://github.com/BruteForceSIH/SecurityService.git
[submodule "EntityActionService"]
	path = EntityActionService
	url = https://github.com/BruteForceSIH/EntityActionService.git
