[submodule "startup"]
	path = startup
	url = https://github.com/BruteForceSIH/startup.git
[submodule "SecurityService"]
	path = SecurityService
	url = https://github.com/BruteForceSIH/SecurityService.git
[submodule "EntityActionService"]
	path = EntityActionService
	url = https://github.com/BruteForceSIH/EntityActionService.git
[submodule "ProfileManagementService"]
	path = ProfileManagementService
	url = https://github.com/BruteForceSIH/ProfileManagementService.git
[submodule "ForumService"]
	path = ForumService
	url = https://github.com/BruteForceSIH/ForumService.git
[submodule "AdService"]
	path = AdService
	url = https://github.com/BruteForceSIH/AdService.git
[submodule "CommunicationService"]
	path = CommunicationService
	url = https://github.com/BruteForceSIH/CommunicationService.git
[submodule "RatingService"]
	path = RatingService
	url = https://github.com/BruteForceSIH/RatingService.git
[submodule "haproxy"]
	path = haproxy
	url = https://github.com/BruteForceSIH/haproxy.git
