[submodule "startup"]
	path = startup
	url = https://github.com/BruteForceSIH/startup.git
[submodule "SecurityService"]
	path = SecurityService
	url = https://github.com/BruteForceSIH/SecurityService.git
[submodule "ProfileManagementService"]
	path = ProfileManagementService
	url = https://github.com/BruteForceSIH/ProfileManagementService.git
